    /* Neon Purple Color Palette */
    :root {
      --color-primary: #246355;
      --color-secondary: #02211b;
      --color-tertiary: #A020F0;
      --color-background: #0D0D0D;
      --color-text: #FFFFFF;
    }

    header{
      text-align: center;
    }
    /* Table Styling */
    table {
      width: 30rem;
      border-collapse: collapse;
      margin: 0 auto;
    }

    th, td {
      padding: 20px;
      text-align: left;
      border-bottom: 1px solid var(--color-secondary);
    }

    th {
      background-color: var(--color-primary);
      color: var(--color-text);
      border-bottom: solid 5px var(--color-secondary);
    }

    tr:nth-child(even){
      background: #ddd;
    }
